@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}


.form_input{
     width: 270px;
     border: 1px solid #cfb2b2b8;
     border-radius: 5px;
     outline: none;
     height: 35px;
     padding: 0px 10px;
}
